body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 20px;
}

.Movies {
    background: #111;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
    transition: transform 0.2s;
}
.Movies:hover {
    transform: scale(1.05);
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px black;
    border-radius: 10px;
}

footer {
    background: #222;
    padding: 10px;
    margin-top: 20px;
}

