/* General style */
body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Nav Bar */
nav {
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
}
header {
    font-size: 40px;
    padding: 10px;
    background: #000000;
    text-align: center; 
}

/* Images and text */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 20px;
}
.movie {
    background: #111;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease-in-out;
}
.movie:hover {
    transform: scale(1.05);
}
img {
    width: 80%; 
    height: auto;
    border-radius: 10px;
}

/* Footer */
footer {
    background: #222;
    padding: 10px;
    margin-top: 20px;
}
footer a {
    color: white; 
}
footer a:hover {
    color: grey; 
}

/* Screen size */
@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr); 
    }
    header {
        font-size: 20px; 
    }
}
